#aside {
    -fx-background-color: main-color;
    -fx-border-radius: 0pt 16pt 16pt 0pt;
    -fx-background-radius: 0pt 16pt 16pt 0pt;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 12, 0, 0, 2);
}

#logo {
    -fx-background-image: url("../images/white-logo.png");
    -fx-background-color: none;
    -fx-background-position: center center;
}

.root.dark-theme #logo {
    -fx-background-image: url("../images/black-logo.png");
}

#title, #subtitle {
    -fx-alignment: center;
    -fx-text-fill: text-fill-1;
    -fx-font-weight: bold;
}

#title {
    -fx-font-size: 30pt;
}

#subtitle {
    -fx-font-size: 12pt;
}

#main {
    -fx-spacing: 50pt;
    -fx-alignment: center;
    -fx-padding: 18pt;
    -fx-background-color: light-orange-2;
    -fx-background-radius: 18pt;
    -fx-border-radius: 18pt;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.08), 10, 0, 0, 3);
}

#back {
    -fx-background-image: url("../icons/back.png");
}

.root.dark-theme #back {
    -fx-background-image: url("../icons/back__dark-theme.png");
}

#security-code-container {
    -fx-spacing: 20pt;
}

#security-code-lbl {
    -fx-font-family: "Nunito ExtraBold";
    -fx-font-size: 24pt;
    -fx-text-fill: text-fill-2;

}

.root.dark-theme #security-code-lbl,
.root.dark-theme #continue-btn {
    -fx-text-fill: main-color;
}

#security-code-field {
    -fx-font-size: 14pt;
    -jfx-unfocus-color: gray-2;
    -jfx-focus-color: light-orange-1;
    -fx-prompt-text-fill: light-orange-1;
    -fx-text-fill: text-fill-2;
    -jfx-label-float: true;
    -fx-background-color: light-orange-3;
    -fx-background-radius: 14pt;
    -fx-border-radius: 14pt;
}

#continue-btn {
    -fx-background-color: secondary-color;
    -fx-text-fill: text-fill-1;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-border-radius: 14pt;
    -fx-background-radius: 14pt;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 8, 0, 0, 2);
}

#continue-btn:hover {
    -fx-background-color: main-color;

}

#msg{
    -fx-text-fill: gray-2;
    -fx-font-size: 11pt;
    -fx-font-family: "Nunito SemiBold";
}

#msg:hover {
    -fx-text-fill: text-fill-2;
}


#error-lbl {
    -fx-font-size: 10pt;
    -fx-text-fill: error;
}