#aside {
    -fx-background-color: main-color;
    -fx-border-radius: 0pt 16pt 16pt 0pt;
    -fx-background-radius: 0pt 16pt 16pt 0pt;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 12, 0, 0, 2);
}

#logo {
    -fx-background-image: url("../images/white-logo.png");
    -fx-background-color: none;
    -fx-background-position: center center;
}

.root.dark-theme #logo {
    -fx-background-image: url("../images/black-logo.png");
}

#title, #subtitle {
    -fx-alignment: center;
    -fx-text-fill: text-fill-1;
    -fx-font-weight: bold;
}

#title {
    -fx-font-size: 30pt;
}

#subtitle {
    -fx-font-size: 12pt;
}

#main {
    -fx-spacing: 32pt;
    -fx-padding: 18pt;
    -fx-background-color: light-orange-2;
    -fx-background-radius: 18pt;
    -fx-border-radius: 18pt;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.08), 10, 0, 0, 3);
}

#sign-in-lbl {
    -fx-font-family: "Nunito ExtraBold";
    -fx-font-size: 24pt;
    -fx-text-fill: text-fill-2;
}

.root.dark-theme #sign-in-btn,
.root.dark-theme #sign-in-lbl{
    -fx-text-fill: main-color;
}

#email-field, #password-field {
    -fx-font-size: 14pt;
    -jfx-unfocus-color: gray-2;
    -jfx-focus-color: light-orange-1;
    -fx-prompt-text-fill: light-orange-1;
    -fx-text-fill: text-fill-2;
    -jfx-label-float: true;
}

#sign-in-container {
    -fx-alignment: center;
}

#forgot-password-link {
    -fx-font-size: 15pt;
    -fx-text-fill: light-orange-1;
}

#sign-in-btn {
    -fx-background-color: main-color;
    -fx-text-fill: text-fill-1;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-border-radius: 14pt;
    -fx-background-radius: 14pt;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 8, 0, 0, 2);
    -fx-padding: 10pt 20pt 10pt 20pt;
}

#sign-in-btn:hover {
    -fx-background-color: secondary-color;
}

#or-lbl {
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

.root.dark-theme #or-lbl {
    -fx-text-fill: gray-1;
}

.separator .line {
    -fx-background-color: gray-2;
    -fx-pref-height: 2;
    -fx-border-color: null ;
}

#google-sign-in-btn {
    -fx-background-color: light-orange-2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 6, 0, 0, 2);
    -fx-border-radius: 14pt;
    -fx-background-radius: 14pt;
    -fx-font-size: 13pt;
    -fx-alignment: center;
}

#google-sign-in-btn:hover {
    -fx-background-color: light-orange-1;
}


#no-account-label {
    -fx-font-size: 12pt;
    -fx-text-fill: light-orange-1;
}

#sign-up-link {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-text-fill: main-color;
}

#sign-up-link:hover {
    -fx-text-fill: secondary-color;
}


#error {
    -fx-font-size: 10pt;
    -fx-text-fill: error;
}